absl-py==2.0.0
accelerate==0.29.2
addict==2.4.0
aioboto3==12.2.0
aiobotocore==2.9.0
aiohttp==3.8.5
aioice==0.9.0
aioitertools==0.11.0
aiortc==1.9.0
aiosignal==1.3.1
albumentations==1.3.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
altair==5.3.0
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anykeystore==0.2
appdirs==1.4.4
apscheduler==3.10.4
async-timeout==4.0.2
attrs==23.1.0
av==12.3.0
beartype==0.18.2
beautifulsoup4==4.12.2
blinker==1.7.0
boto3==1.33.13
botocore==1.33.13
boxmot==10.0.43
braceexpand==0.1.7
cachetools==5.3.2
certifi==2022.12.7
cffi==1.15.1
cfgv==3.4.0
charset-normalizer==2.1.1
checksumdir==1.2.0
click==8.1.6
cmake==3.25.0
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.1.0
crcmod==1.7
cryptacular==1.6.2
cryptography==43.0.3
cycler==0.11.0
cython-bbox==0.1.3
cython==3.0.4
dataclasses==0.6
datasets==2.14.2
decorator==4.4.2
deeplake==3.8.17
defusedxml==0.7.1
diffusers==0.27.2
dill==0.3.8
distlib==0.3.7
dnspython==2.7.0
docker-pycreds==0.4.0
docstring-parser==0.15
einops==0.7.0
einx==0.1.3
ema-pytorch==0.4.5
exifread-nocycle==3.0.1
filelock==3.13.0
filterpy==1.4.5
fire==0.4.0
flask-cors==4.0.0
flask-restful==0.3.10
flask-sqlalchemy==3.1.1
flask-wtf==1.2.1
flask==3.0.0
flatbuffers==23.5.26
fonttools==4.41.1
frozendict==2.4.1
frozenlist==1.4.0
fsspec==2024.2.0
ftfy==6.1.1
fvcore==0.1.5.post20221221
gdown==4.7.1
gitdb==4.0.10
gitpython==3.1.32
google-auth-oauthlib==1.1.0
google-auth==2.23.3
google-crc32c==1.6.0
gputil==1.4.0
graphsurgeon==0.4.6
greenlet==2.0.2
grpcio==1.59.0
huggingface-hub==0.20.3
humanfriendly==10.0
humbug==0.3.2
hupper==1.12
identify==2.5.31
idna==3.4
ifaddr==0.2.0
imageio-ffmpeg==0.4.9
imageio==2.31.3
img2dataset==1.42.0
importlib-metadata==6.8.0
imutils==0.5.4
iopath==0.1.10
itsdangerous==2.1.2
jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonschema-specifications==2023.12.1
jsonschema==4.21.1
kiwisolver==1.4.4
kornia==0.6.12
lap==0.4.0
lapx==0.5.5
lazy-loader==0.3
libdeeplake==0.0.98
lightning-utilities==0.11.2
lit==15.0.7
loguru==0.7.2
lpips==0.1.4
lz4==4.3.3
mako==1.2.4
markdown-it-py==3.0.0
markdown==3.4.4
markupsafe==2.1.2
matplotlib==3.7.2
mdurl==0.1.2
memory-efficient-attention-pytorch==0.1.6
mmcv==2.0.1
mmdet==3.1.0
mmengine==0.8.4
mmyolo==0.6.0
model-index==0.1.11
motmetrics==1.4.0
moviepy==1.0.3
mpmath==1.2.1
multidict==6.0.4
multiprocess==0.70.16
muse==0.0.1
mypy-extensions==1.0.0
mypy==1.6.1
nest-asyncio==1.6.0
networkx==3.0
nodeenv==1.8.0
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
objaverse==0.1.7
omegaconf==2.3.0
onnx-graphsurgeon==0.3.12
onnx==1.14.0
onnxruntime-gpu==1.15.1
onnxsim==0.4.33
open-clip-torch==2.20.0
opencv-python-headless==4.8.0.76
opencv-python==4.8.0.76
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.0.17
ordered-set==4.1.0
oss2==2.17.0
packaging==23.1
pandas==1.5.3
pastedeploy==3.0.1
pathos==0.3.2
pathtools==0.1.2
pbkdf2==1.3
pdfkit==1.0.0
pillow==9.3.0
pip==24.0
plaster-pastedeploy==1.0.1
plaster==1.1.2
platformdirs==3.10.0
plotly==5.15.0
portalocker==2.8.2
pox==0.3.4
ppft==1.7.6.8
pre-commit==3.5.0
prettytable==3.8.0
proglog==0.1.10
promise==2.3
protobuf==3.20.3
psutil==5.9.5
psycopg2-binary==2.9.7
py-cpuinfo==9.0.0
pyarrow==10.0.1
pyasn1-modules==0.3.0
pyasn1==0.5.0
pycocotools==2.0
pycparser==2.21
pycryptodome==3.18.0
pycuda==2022.2.2
pydantic-core==2.16.1
pydantic==2.6.0
pydeck==0.8.1b0
pyee==12.1.1
pygments==2.16.1
pyhtml==1.3.2
pyjwt==2.8.0
pylibsrtp==0.10.0
pyopenssl==24.2.1
pyparsing==3.0.9
pyramid-mailer==0.15.1
pyramid==2.0.1
pyre-extensions==0.0.29
pysocks==1.7.1
python-dateutil==2.8.2
python3-openid==3.2.0
pytools==2023.1.1
pytorch-lightning==2.2.1
pytorch3d==0.7.6
pytz==2023.3
pywavelets==1.4.1
pyyaml==6.0.1
pyzmq==25.1.1
quantize-lib==1.0
qudida==0.0.4
referencing==0.34.0
regex==2023.6.3
repoze.sendmail==4.4.1
requests-oauthlib==1.3.1
requests==2.28.2
rich==13.4.2
rpds-py==0.18.0
rsa==4.9
s3transfer==0.8.2
safetensors==0.4.2
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.1
seaborn==0.12.2
sentencepiece==0.1.99
sentry-sdk==1.29.0
setproctitle==1.3.2
setuptools==60.2.0
shapely==2.0.1
shortuuid==1.0.11
simple-parsing==0.1.5
six==1.16.0
sklearn==0.0.post7
smmap==5.0.0
soupsieve==2.5
sqlalchemy==2.0.19
streamlit==1.32.2
sympy==1.11.1
tabulate==0.9.0
taming-transformers==0.0.1
tenacity==8.2.2
tensorboard-data-server==0.7.2
tensorboard==2.15.0
tensorrt-bindings==8.6.1
tensorrt-dispatch-bindings==8.6.1
tensorrt-dispatch-libs==8.6.1
tensorrt-dispatch==8.6.1.post1
tensorrt-lean-bindings==8.6.1
tensorrt-lean-libs==8.6.1
tensorrt-lean==8.6.1.post1
tensorrt-libs==8.6.1
tensorrt==10.0.1
termcolor==2.3.0
terminaltables==3.1.10
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2023.9.18
timm==0.9.2
tokenizers==0.15.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.1
torch-tensorrt==1.4.0
torch2trt==0.4.0
torch==2.4.0
torchaudio==2.2.2
torchmetrics==1.3.2
torchvision==0.19.0
tornado==6.4
tqdm==4.65.0
transaction==3.1.0
transformers==4.37.2
translationstring==1.4
triton==3.0.0
typing-extensions==4.9.0
typing-inspect==0.9.0
tzdata==2023.3
tzlocal==5.2
uff==0.6.9
ultralytics-thop==2.0.6
ultralytics==8.2.86
urllib3==1.26.13
vector-quantize-pytorch==1.14.6
velruse==1.1.1
venusian==3.0.0
virtualenv==20.24.6
wandb==0.12.21
watchdog==4.0.0
wcwidth==0.2.6
webdataset==0.2.86
webob==1.8.7
werkzeug==3.0.1
wheel==0.41.0
wrapt==1.16.0
wtforms-recaptcha==0.3.2
wtforms==3.0.1
xformers==0.0.25
xmltodict==0.13.0
xxhash==3.3.0
yacs==0.1.8
yapf==0.40.1
yarl==1.9.2
yolox==0.1.0
zipp==3.16.2
zmq==0.0.0
zope.deprecation==5.0
zope.interface==6.0
zope.sqlalchemy==3.0